Repository financrr/financrr-app, pull requests merged in 2024-04, with the labels that each got.

#78 feat(frontend): Implemented Authentication Bloc
  frontend/ios/Podfile.lock
  frontend/lib/app_bloc_observer.dart
  frontend/lib/data/session_repository.dart
  frontend/lib/main.dart
  frontend/lib/pages/authentication/bloc/authentication_bloc.dart
  frontend/lib/pages/authentication/bloc/authentication_event.dart
  frontend/lib/pages/authentication/bloc/authentication_state.dart
  frontend/lib/pages/authentication/login_page.dart
  frontend/lib/pages/authentication/server_info_page.dart
  frontend/lib/pages/context_navigator.dart
  frontend/lib/pages/core/accounts/account_create_page.dart
  frontend/lib/pages/core/accounts/account_edit_page.dart
  frontend/lib/pages/core/accounts/account_page.dart
  frontend/lib/pages/core/accounts/accounts_overview_page.dart
  frontend/lib/pages/core/accounts/transactions/transaction_create_page.dart
  frontend/lib/pages/core/accounts/transactions/transaction_edit_page.dart
  frontend/lib/pages/core/accounts/transactions/transaction_page.dart
  frontend/lib/pages/core/dashboard_page.dart
  frontend/lib/pages/core/settings/currency/currency_create_page.dart
  frontend/lib/pages/core/settings/currency/currency_edit_page.dart
  frontend/lib/pages/core/settings/currency_settings_page.dart
  frontend/lib/pages/core/settings/session_settings_page.dart
  frontend/lib/pages/core/settings_page.dart
  frontend/lib/pages/splash_page.dart
  frontend/lib/router.dart
  frontend/lib/util/constants.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
Labels: feature, frontend

#76 Backend/fix/multiple things
  .github/workflows/backend-docker-compose-build.yaml
  .github/workflows/backend-publish-docker-images.yaml
  .github/workflows/backend-rust-checks.yaml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/backend/src/wrapper/entity/account/mod.rs
  backend/backend/src/wrapper/entity/budget/mod.rs
  backend/backend/src/wrapper/entity/currency/mod.rs
  backend/backend/src/wrapper/entity/session/mod.rs
  backend/backend/src/wrapper/entity/transaction/mod.rs
  backend/backend/src/wrapper/permission/mod.rs
  backend/bin/build-ci-test.bash
  backend/bin/build.bash
  backend/bin/deploy.bash
  backend/entity/Cargo.toml
  backend/entity/src/account.rs
  backend/entity/src/budget.rs
  backend/entity/src/currency.rs
  backend/entity/src/error/mod.rs
  backend/entity/src/permissions.rs
  backend/entity/src/session.rs
  backend/entity/src/transaction.rs
  backend/entity/tests/unit/mod.rs
  backend/entity/tests/unit/query.rs
  backend/migration/Cargo.toml
Labels: fix, backend, auto-merge

#89 chore(backend): replace redis
  backend/Cargo.lock
  backend/Cargo.toml
  backend/backend/src/api/documentation/response.rs
  backend/backend/src/api/error/api.rs
  backend/backend/src/main.rs
  backend/backend/src/util/validation.rs
  backend/backend/src/wrapper/entity/session/mod.rs
  backend/backend/src/wrapper/types/phantom.rs
  backend/compose.yml
  backend/entity/src/lib.rs
  backend/entity/src/utility/loading.rs
  backend/entity/src/utility/table.rs
  backend/rust-toolchain.toml
Labels: auto-merge
